<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- system.diagnostics section is not supported on .NET 6 (see https://github.com/dotnet/runtime/issues/23937)-->
    <!--<system.diagnostics>
  <sources>
    <!- - Cette section définit la configuration de l'enregistrement dans le fichier journal de My.Application.Log - ->
    <source name="DefaultSource" switchName="DefaultSwitch">
      <listeners>
        <add name="FileLog" />
        <!- - Supprimez les marques de commentaire dans la section suivante pour écrire dans le journal des événements de l'application - ->
        <!- -<add name="EventLog"/>- ->
      </listeners>
    </source>
  </sources>
  <switches>
    <add name="DefaultSwitch" value="Information" />
  </switches>
  <sharedListeners>
    <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
    <!- - Supprimez les marques de commentaire dans la section suivante et remplacez APPLICATION_NAME par le nom de votre application à écrire dans le journal des événements de l'application - ->
    <!- -<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> - ->
  </sharedListeners>
</system.diagnostics>-->
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="SQLitePCLRaw.core" publicKeyToken="1488e028ca7ab535" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.1.1.1705" newVersion="2.1.1.1705" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="SQLitePCLRaw.batteries_v2" publicKeyToken="8226ea5df37bcae9" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.1.1.1705" newVersion="2.1.1.1705" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>